env.js
.vscode

public/manifest.webmanifest
public/icons/android-chrome-192x192.png
public/icons/android-chrome-512x512.png

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
