body {
   min-height: 100vh;
   background-color: var(--background-page-main-color);
   color: var(--text-color-main);
}

@layer components {
   .my-container {
      @apply container mx-auto px-2.5;
   }
}