:root {
   --vh-mobile: 1vh;

   /*эти парметры получаем с бэка, здесь установлены стартовые значения до загрузки с бэка*/
   --background-page-main-color: #f3f4f6;
   --background-page-elements-color: #ffffff;
   --brand-color: rgb(107 114 128);
   --text-color-main: #000000;
   --text-color-on-brand-color: #ffffff;
   --text-color-accent: #008000;
   --bottom-nav-color: #a6a6a6;

   /*эти параметры устанавливаем при инициализации приложения с помощью функции,
    здесь установлены стартовые значения до инициализации*/
   --brand-color-hover: rgb(156 163 175);
   --brand-color-active: rgb(17 24 39);
   --background-active-category: #f3f4f6;
   --border-color-order-settings: grey;


   --inactive-color: var(--color-gray-500);
   --danger-color: var(--color-red-600);

   --border-radius-main: 14px;
}